@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden font-sans;
    background-color: #020617;
    color: white;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #243447;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1A2332;
  }
}
